<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="reset()">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="mode !== null">
            <span *ngIf="mode === 0"
              ><ion-icon name="heart-outline"></ion-icon>{{lifes}}</span
            >
            <ion-icon name="diamond-outline"></ion-icon>{{points}}
            <ion-icon name="trophy-outline"></ion-icon>{{highscore}}
          </ion-col>
          <ion-col [class.no-time]="counter === 0" class="time" *ngIf="mode">
            <ion-icon name="time-outline"></ion-icon>{{counter}}s
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid *ngIf="mode === 1 && !timerActive && !timerStarted">
      <ion-row>
        <ion-col
          ><ion-button (click)="toggleTimer()" class="back"
            >Ich bin bereit!</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="mode === null">

      <ion-row>
        <ion-col>
        <br> Herzlich Wilkommen. 
        <br> Möchtest du die Bibel besser kennenlernen? 
        <br> Dann bist du hier genau richtig! 
        <br> Dies ist ein einfaches Spiel, Verse zu erraten.
        <br>
        <br> 
        <br> Aber Achtung! Du hast nur 3 Leben <ion-icon name="heart-outline"></ion-icon>
        <br> Und das hier sind deine Punkte  <ion-icon name="diamond-outline"></ion-icon>
        <br> Es gibt auch deinen persönlichen Highscore  <ion-icon name="trophy-outline"></ion-icon>
        <br><br><br><br> PS: Die Bibel hat übrigends 31.096 Verse und 1.189 Kapitel.
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="back" (click)="selectMode(0)">
            Unendlich Modus
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="back" (click)="selectMode(1)">
            3 Minuten
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="mode === 0 || (mode === 1 && timerStarted)">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="!showResult"> Wo stammt dieser Vers her?</ion-col>
        </ion-row>
        <ion-row class="search">
          <ion-col>
            <strong *ngIf="versSearched.cap[0].verses[0] && showResult" class="search-vers extra-vers"
              >{{versSearched.cap[0].verses[0].vers}} <br></strong
            >
            <strong class="search-vers"
              >{{versSearched.cap[0].verses[1].vers}}</strong
            >
            <strong *ngIf="versSearched.cap[0].verses[2] && showResult" class="search-vers extra-vers"
              ><br>{{versSearched.cap[0].verses[2].vers}}</strong
            >
            <p *ngIf="showResult" class="source">
              {{versSearched.name}}
              {{versSearched.cap[0].numb}}:{{versSearched.cap[0].verses[1].numb}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr />
      <div *ngIf="showResult" class="guess">
        <ion-grid>
          <ion-row>
            <ion-col> Der von dir geratene Vers ist: </ion-col>
          </ion-row>
          <ion-row class="search">
            <ion-col>
              <strong class="guess-vers">{{versSelected.vers}}</strong>
              <p class="source">
                {{bookSelected.name}} {{capSelected.numb}}:{{versSelected.numb}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="reload()" class="tryagain"
                >Weiter</ion-button
              >
            </ion-col>
          </ion-row>
          <hr />
          <ion-row class="{{getResultClass()}}">
            <ion-col [innerHTML]="versesTraveled"> </ion-col>
          </ion-row>
          <ion-grid> Alle Bibelbücher in ihrere Reihenfolge </ion-grid>
          <ion-row>
            <ion-grid>
              <ion-col *ngFor="let book of bible.books">
                <ion-button
                  [ngClass]="{selected : book.name === bookSelected.name , searching : book.name === versSearched.name }"
                  class="vers timebeam"
                >
                </ion-button>
              </ion-col>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="!showResult">
        <h5>HEBRÄISCH-ARAMÄISCHE SCHRIFTEN</h5>
        <div *ngIf="!bookSelected" class="books">
          <ion-grid>
            <ion-col *ngFor="let book of bible.books">
              <h5 *ngIf="book.name === 'Matthäus'">
                CHRISTLICHE GRIECHISCHE SCHRIFTEN
              </h5>
              <ion-button size="small" (click)="selectBook(book)" class="book">
                {{book.name}}
              </ion-button>
            </ion-col>
          </ion-grid>
        </div>

        <div *ngIf="bookSelected && !capSelected" class="caps">
          <p>{{bookSelected.name}}, Kapitel</p>
          <ion-button (click)="back()" class="back"> Zurück </ion-button>
          <ion-grid>
            <ion-col *ngFor="let cap of getCaps()">
              <ion-button (click)="selectCap(cap)" class="cap">
                {{cap.numb}}
              </ion-button>
            </ion-col>
          </ion-grid>
        </div>

        <div *ngIf="capSelected" class="verses">
          <p>{{bookSelected.name}},{{capSelected.numb}}: Vers</p>
          <ion-button (click)="back()" class="back"> Zurück </ion-button>
          <ion-grid>
            <ion-col *ngFor="let vers of getVerses()">
              <ion-button (click)="selectVers(vers)" class="vers">
                {{vers.numb}}
              </ion-button>
            </ion-col>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
