
.book {
  --background: #8a2be2;
  color: white;
  height: 45px;
  width: 180px;

  @media only screen and (max-width: 600px) {
    width: 110px;
  }
}

.cap {
  --background: rgb(46, 15, 75);
  color: white;
  height: 50px;
  width: 50px;
}

.vers {
  --background: rgb(46, 15, 75);
  color: white;
  height: 50px;
  width: 50px;
}

.extra-vers {
  color: rgb(77, 77, 77) !important;
}

.timebeam {
  height: 40px !important;
  width: 15px !important;
  margin: 5px;
}

.selected {
  --background: rgb(13, 71, 11);
}

.searching {
  --background: blueviolet
}

.guess-vers {
  background-color: rgb(46, 15, 75);
  color: white;
}

.tryagain {
  --background: rgb(13, 71, 11);
  width: 150px;
}

.acc {
  font-weight: bolder;
}

.guess-acc {
  color: blueviolet;
}
.vers-acc {
  color: rgb(13, 71, 11);
}

.silverresult {
  background-color: #595959;
  border: 1px solid #595959;
  color: white;
  padding: 5px;
  margin: 10px;
}

.greenresult {
  background-color:  rgb(13, 71, 11);
  border: 1px solid  rgb(13, 71, 11);
  color: white;
  padding: 5px;
  margin: 10px;
}
.redresult {
  background-color: #8c1c31;
  border: 1px solid #8c1c31;
  color: white;
  padding: 5px;
  margin: 10px;
}

.back {
  --background: rgb(102, 32, 167);
  color: white !important;
  width: 170px;
}

.time {
  background-color: rgb(13, 71, 11);
}

.no-time{
  background-color: #581717;
  color: white;
}

hr {
  background-color: rgb(102, 32, 167);
}

.path {
  --background: rgb(46, 15, 75);
  height: 5px;
  width: 5px;
}

.search {
  border: 1px solid #171717;
  padding: 5px;
  margin: 10px;
  background-color: #171717;
}

.greenflash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #094109; /* Grün, kann angepasst werden */
  opacity: 0;
  animation: flashAnimation 1s ease-out;
}

.silverflash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #969696; /* Grün, kann angepasst werden */
  opacity: 0;
  animation: flashAnimation 1s ease-out;
}

.redflash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #41090e; /* Grün, kann angepasst werden */
  opacity: 0;
  animation: flashAnimation 1s ease-out;
}

@keyframes flashAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}